<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet" />
    
</head>
<body>
    <div class="container">
        <h2>Student Dashboard</h2>

        <!-- Student Profile Image -->
        <div class="image-container">
            <img id="profileImage" src="" alt="Student Image">
        </div>

        <div class="details">
            <p><strong>Name:</strong> <span id="name"></span></p>
            <p><strong>Scholar Number:</strong> <span id="scholarNumber"></span></p>
            <p><strong>Batch:</strong> <span id="batch"></span></p>
            <p><strong>Major:</strong> <span id="major"></span></p>
            <p><strong>Total Classes:</strong><span id="classes"></span></p>
            <p><strong>Total Class Attend:</strong> <span id="totalAttendance"></span></p>
            <p><strong>Attendance Percentage:</strong> <span id="attendancepercentage"></span></p>
            <p><strong>Attendance Calendar:</strong></p>
            <div id="calendar"></div>
            <p><strong>Remarks:</strong></p>
            <div id="remarksContainer" class="remarks-container"></div>
        </div>

        <button id="logoutBtn">
            <span>Logout</span>
            <div class="spinner"></div>
        </button>

        <div id="alertBox" class="alert hidden"></div>
    </div>
    <script type="module" src="{{ url_for('static', filename='dashboard.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>

</body>
</html>
